body {
    background-position: center;
    background-size: 50%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    }

  #cast-photo{
    height: auto;
    width: auto;
    }

  #start-page {
    align-content: center;
    margin-bottom: 500px;
    }
  
  #end-page {
    display: none;
  }

  h1 {
    margin-bottom: 25px;
  }
  
  label {
    font-size: 16px;
  }
  
  #end-page p {
    font-size: 20px;
    
  }
  
  #correct-answers {
    margin-top: 32px;
  }
  
  #question {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
  }
    
  #done-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  